/* DataCenter.css */

.data-center-container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 4%;
    
  }
  
  .data-center-title {
    text-align: center;

    
  }
  
  .data-center-title h1 {
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
  .data-center-title p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify; /* Change the font family as needed */
    font-size: 25px;
  }
  
  .data-center-content {
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
  }
  
  .data-center-left,
  .data-center-right {
    flex: 1;
  }
  
  .data-center-left ul,
  .data-center-right ul {
    list-style: none;
    padding: 0;
  }
  
  .data-center-left h2,
  .data-center-right h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
  .data-center-left ul li{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
  }
  .data-center-right ul li{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .data-center-left ul li::before,
.data-center-right ul li::before {
  content: "\2022"; /* Unicode character for a bullet point */
  color: #5da8f8; /* Change the color as needed */
  font-weight: bold; /* Apply bold font weight */
  display: inline-block;
  width: 1em;
  margin-left: -1em; /* Position the bullet point */
}

@media (max-width: 768px) {
    .data-center-title h1 {
      font-size: 2rem; /* Adjust the title font size for smaller screens */
    }
  
    .data-center-title p {
      font-size: 1rem; /* Adjust the paragraph font size for smaller screens */
    }
  
    .data-center-content {
      padding-left: 0; /* Remove left padding for better responsiveness */
    }
  
    .data-center-left,
    .data-center-right {
      margin-bottom: 10px; /* Adjust space between left and right content */
    }
  
    .data-center-left h2,
    .data-center-right h2 {
      font-size: 1rem; /* Adjust the heading font size for smaller screens */
    }
  
    .data-center-left ul li::before,
    .data-center-right ul li::before {
      font-size: 0.5em; /* Adjust the bullet point size for smaller screens */
    }

    .data-center-right{
        padding-right: 1%;
    }
  }