/* OurMission.css */

/* Container for the mission section */
.mission-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    padding: 40px; /* Adjust padding as needed */
    padding-top: 6%;
    padding-bottom: 4%;
  }
  
  /* Styles for the content area */
  .mission-content {
    flex: 1;
    padding-right: 20px; /* Spacing between content and image */
  }
  
  /* Mission title */
  .mission-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  /* Mission details/paragraph */
  .mission-details {
    line-height: 1.6;
    font-size: 20px;
    
  }
  
  /* Mission image */
  .mission-image img {
    position: relative;
    width: 100%; /* Ensure the image fills the container */
    max-width: 600px; /* Adjust maximum width as needed */
    height: auto;
    padding-right: 15%;
  }
  .mission-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow:
      -4px 0px 6px rgba(128, 128, 128, 0.5), /* Left shadow */
      0px 4px 6px rgba(128, 128, 128, 0.5); /* Bottom shadow */
  }