.Main-container3 {
    width: 100%;
    height: 450px;/* Set your desired height */
    background-position: top;
    /* Add more styles as needed */
  }
  
  .Main-background-image3 {
      background-image: url('../../../public/Img/OIP1.jpg'); /* Add the path to your background image */
     width: 100%;
    height: 100%; 
     background-size: cover;
    background-position: top;
    /* background-attachment: fixed; Fix the background at the top of the window */
    position: relative; 
  }
  
  .Main-title3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; /* Set your desired text color */
    font-size: 50px; /* Set your desired font size */
    font-weight: bolder;
    text-align: center;
    /* Add more styles as needed */
  }
  
  @media (max-width: 768px) {
    .Main-container3 {
      height: 300px; /* Adjust the height for smaller screens */
    }
  
    .Main-title3 {
      font-size: 36px; /* Adjust font size for smaller screens */
    }
  }